asgiref==3.8.1
captcha==0.7.0
Django==5.1.6
django-recaptcha==4.0.0
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
Django==5.1.6
sqlparse==0.5.3
whitenoise==6.9.0
